<div class="">
  <div class="">
    <div class="">
      <nav aria-label="Social links" class="">
        {{partial "social.html" .}}
      </nav>
    </div><!-- .footer-top -->
    {{ with .Site.Params.footer }}
    <aside class="" role="complementary">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <h2 class="">{{ .title | markdownify }}</h2>
              <div class="">
                <p>{{ .content | markdownify }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <div class="">
              <h2 class="">Find Us</h2>
              <div class="">
                <p><strong>Address</strong><br/> {{ .address | markdownify }}</p>
                <p><strong>Hours</strong><br/>{{ .hours | markdownify }}</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- .footer-widgets-wrapper -->
    </aside><!-- .footer-widgets-outer-wrapper -->
    {{ end }}

  </div><!-- .footer-inner -->

</div><!-- .footer-nav-widgets-wrapper -->


<footer id="" role="" class="">
  <div class="">
    <div class="">
      <p class="">{{ .Site.Params.footer.copyright | markdownify }}</p><!-- .powered-by-wordpress -->
    </div><!-- .footer-credits -->
    <a class="" href="#site-header">
      <span class="">
        To the top <span class="" aria-hidden="true">&uarr;</span> </span><!-- .to-the-top-long -->
      <span class="">
        Up <span class=" aria-hidden="true">&uarr;</span> </span><!-- .to-the-top-short -->
    </a><!-- .to-the-top -->
  </div><!-- .section-inner -->
</footer>


{{ "<!-- Search index -->" | safeHTML }}
<script>
  var indexURL = {{"index.json" | absURL}}
</script>

<!-- jquery -->
{{ $jquery := resources.Get "js/jquery.min.js" | minify}}
<script src="{{ $jquery.Permalink }}"></script>

{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- Main Script -->" | safeHTML }}
{{ $search := resources.Get "js/search.js" | minify}}
<script src="{{ $search.Permalink }}"></script>

<script src="{{`plugins/search.js` | absURL }}"></script>
